:root {
    --primary-color: #ec1f55;
    --text-color: #333;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.displaynone{
  display: none;
}

html{
  font-family: "Poppins", sans-serif;
}

.active{
  color: #f1eaea;
}

.dp{
  display: none;
}
.text-align{
  text-align: center;
}

.fas{
  font-size: 35px;
  
}

.flex {
  display: flex;
  
}

.background{
  background-color: hsla(0,70%,70%,.65);
}

#container{
 
  background-size: cover;
  justify-content: center;
  min-height: 100vh;
  max-height: 100vh;
  flex-direction: column;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
  animation: slide linear infinite 25s ;
  transition-duration: .7s;
}

.login{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  right: 5%;
  top: 2%;
  position: fixed;
  z-index: 9999;
}

.login button{
  border-radius: 20px;
  border: none;
  height: 40px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  color: #fff;
  cursor: pointer;
}

.login button:hover{
  opacity: 0.7;
}

.btn-login{
  background: #0674ec;
  margin-left: 30px;
}

.btn-signup{
  background-color: #7347c1;;
}

.bgsun{
background-image: url(./img/4Z_2101.w020.n001.1017B.p15.1017.jpg);
min-height: 100vh;
  max-height: 100vh;
  background-size: cover;
}

.bgmoon{
  background-image: url(./img/2948.jpg);
  min-height: 100vh;
  max-height: 100vh;
  background-size: cover;
}


.favorite-music {
  position: relative;
  text-align: center;
 margin-bottom: 20px;
  
}

.favorite-music button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  background-color: white;
  font-size: 25px;
  cursor: pointer;
  margin-top: 10px;
}

.favorite-music button:hover{
  opacity: 0.5;
}


h1{
  font-size:50px;
  font-weight: 500;
  font-family: "Lobster Two", cursive;
}

.card-music{
  margin:0 auto;
  width: 100%;
  max-width: 450px;
  position: relative;
  flex-direction: column;
  justify-content: center;
  
}

.dashboard{
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  /* animation: modalFacein ease 0.9s; */
  
}

.headphone,
.heart{
  display: block;
  font-size: 15px;
 margin-right: 15px;
 cursor: pointer;
 font-size: 25px;
 color: #0d000f;
}

.status-music{
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  
  
}

.text-status{
  overflow: hidden  ;
  text-overflow: ellipsis; /* Hiển thị dấu (...) khi nội dung tràn ra */
  white-space: nowrap; /* Ngăn chặn đẩy xuống dòng */


}

h2{
  font-family: "Lobster Two", cursive;
  white-space: nowrap; /* Ngăn chặn đẩy xuống dòng */
  /* overflow: hidden; Ẩn nội dung tràn ra ngoài phần tử cha */
  text-overflow: ellipsis; /* Hiển thị dấu (...) khi nội dung tràn ra */
  
}



.cd-music{
  width: 200px;
  margin: auto;
  
 

}
.cd-pic{
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  
  background-size: cover;
  margin: 20px 0;
}

.progress{
  width: 100%;
 
  height: 6px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 1px;
  cursor: pointer;
  
}



/* .progress::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  background-color: var(--primary-color);
  cursor: pointer;
  border-radius: 2px;
} */

.progress::-webkit-slider-thumb:hover{
  width: 13px;
  height: 15px;
  border-radius: 50%;
}



.control{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.btn{
  font-size: 30px;
  cursor: pointer;
}

.btn:first-child{
  font-size: 22px;
}

.btn:last-child{
  font-size: 22px;
}

.btn:hover{
  opacity: 0.7;
}

.btn-play{
  font-size: 35px;
}

.close-playlist {
  display: none;
  flex-direction: row-reverse;
}
.close{
width: 50px;
  cursor: pointer;
  height: 25px; 
  border-radius: 5px;
  border: none ;
}

.play-list{
  max-height: 500px; 
  padding: 15px 20px;
  border-radius: 10px;
  margin-top: 10px;
  overflow: scroll;
  display: none;
  max-height: 500px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  animation: modalFaceout ease 0.9s;
}
.play-list::-webkit-scrollbar{
  width: 4px;
  height: 2px;
}
.play-list::-webkit-scrollbar-thumb{
  background: rgba(0,0,0,0.2);
  border-radius: 4px;
}
.play-list::-webkit-scrollbar-track {
  border-radius: 10px;
}
.play-list::-webkit-scrollbar-corner {
  display: none;
}
.song.active {
  background-color: var(--primary-color);
}
.song:active {
  opacity: 0.8;
}
.song.active .option,
.song.active .author,
.song.active .title {
  color: #fff;
}
.song{
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  background-color: #fff;
  padding: 8px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.pic-song{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: cover;
  margin: 0 10px;
}
.song .body {
  flex: 1;
  padding: 0 16px;
}
.song .title {
  font-size: 18px;
  color: var(--text-color);
}
.song .author {
  font-size: 12px;
  color: #999;
  margin: 5px 0;
}
.song .option {
  padding: 16px 8px;
  color: #999;
  font-size: 19px;
  cursor: pointer;
}
.change-volum{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.icon-volum{
  margin-right: 20px;
  font-size: 20px;
  cursor: pointer;

}

.volum-input{
  
  width: 70%;
}

.volum-progress{
  width: 100%;
  height: 6px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 1px;
  cursor: pointer;

  
}


/*  form đăng ký */
.form-signup{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;   bottom: 0;
z-index: 9999999999;
display: none;

}
.main-signup {
  background: rgba(0, 0, 0, 0.3);
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.form {
  width: 360px;
  min-height: 100px;
  padding: 32px 24px;
  text-align: center;
  background: #fff;
  border-radius: 20px;
  margin: 24px;
  align-self: center;
  box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
  cursor: initial;
  animation: modalFacein ease 0.5s;

}
.form .heading {
  font-size: 2rem;
}
.form .desc {
  text-align: center;
  color: #636d77;
  font-size: 1.6rem;
  font-weight: lighter;
  line-height: 2.4rem;
  margin-top: 16px;
  font-weight: 300;
}

.form-group {
  display: flex;
  margin-bottom: 16px;
  flex-direction: column;
}

.form-label,
.form-message {
  text-align: left;
}

.form-label {
  font-weight: 700;
  padding-bottom: 6px;
  line-height: 1.8rem;
  font-size: 1.4rem;
}

.form-control {
  height: 40px;
  padding: 8px 12px;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  outline: none;
  font-size: 1.4rem;
}

.form-control:hover {
  border-color: #1dbfaf;
}

.form-group.invalid .form-control {
  border-color: #f33a58;
}

.form-group.invalid .form-message {
  color: #f33a58;
}

.form-message {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 4px 0 0;
}

.form-submit {
  outline: none;
  background-color: #1dbfaf;
  margin-top: 12px;
  padding: 12px 16px;
  font-weight: 600;
  color: #fff;
  border: none;
  width: 100%;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
}

.form-submit:hover {
  background-color: #1ac7b6;
}

.spacer {
  margin-top: 36px;
}




@keyframes slide {
  50% {
    background-position: 100%;
}
}

@keyframes modalFacein 
    {
        from {
            opacity: 0;
            transform: translateY(-100px);
        }

        to{
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes modalFaceout
    {
        from {
            opacity: 0;
            transform: translateY(100px);
        }

        to{
            transform: translateY(0px);
            opacity: 1;
        }
    }