@media only screen and (max-width:46.1875em) {
    .dashboard{
        padding: 20px;
    }

    .favorite-music{
       padding: 20px;
    }

    h1{
        font-size: 35px;
    }

    .favorite-music button{
        height: 30px;
        width: 30px;
        font-size: 15px;
        cursor: pointer;
    }

    .card-music{
        width: 70%;
    }


    .status-music{
        
        justify-content: space-between;
    }

    

    .text-status{
        overflow: hidden;
        font-size: 10px;
    }

    h2{
        animation: marquee 5s linear infinite;
    }

    .heart{
        display: block;
        margin-left: 15px;
            font-size: 15px;
    }

    .cd-music {
        width: 130px;
        margin: auto;
    }


   
    .btn:first-child {
        font-size: 15px;
    }

    .btn{
        font-size: 20px;
    }

    .fas{
        font-size: 30px;
    }

    .btn:last-child {
        font-size: 15px;
    }


    .play-list{
        display: none;
        max-height: 400px;
        
    }

    .song{
        overflow-x: scroll;
       
    }
    .pic-song{
        /* display: none; */
    
    }

    .song .title{
        font-size: 18px;
        /* white-space: nowrap;
        text-overflow: ellipsis; */
       
    }

    @keyframes marquee {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-100%);
        }
      }
}